.groot-avatar {
  background-image: url("https://steemitimages.com/DQmUbbbfR1ZYChvc616Qu2HCtMFeDdK1rmvuLyuZLetgj3G/s495720192336623837_p5_i4_w2560.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
