
<form>
  <mat-form-field>
    <mat-label>Enter some text</mat-label>
    <input
      matInput
      placeholder="testing"
      [(ngModel)]="someText"
      [ngModelOptions]="{standalone: true}">
      <!-- (input)="onTypingStuff($event)"> -->
      <!-- [(ngModel)]="someText"> -->
  </mat-form-field>
</form>

<p>{{ someText }}</p>
<p *ngIf="isDuplicateClicked; else notDuplicated">Duplicate attempted</p>
<ng-template #notDuplicated>
  <p>Duplicate not attempted yet</p>
</ng-template>
<button
  mat-raised-button
  (click)="onDuplicateComponent()">Duplicate component</button>

<button
  mat-fab
  (click)="onStuff('stuff')">Stuff</button>
<button
  mat-icon-button
  (click)="onLoveIt()"
  color="primary"
  [disabled]="isDisableTestOn">
    <mat-icon>favorite</mat-icon>
  </button>

<div
  [innerHTML]="loveIt"></div>
<app-server></app-server>
<app-server></app-server>
