
<mat-toolbar style="background-color: rgb(38, 44, 136);" class="mat-elevation-z6">
  <mat-toolbar-row>
    <a mat-button
    href="https://material.angular.io/"><mat-icon>pages</mat-icon> Nexus</a>
    <a mat-button>Portfolio</a>
    <a mat-button>Contact Me</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container abstract-banner" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="95%">
    <h1 style="text-align:center;">
      Welcome to codeland!
    </h1>
  </div>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
  </div>
</div>
