@import '~@angular/material/theming';

@include mat-core();

$iamc-primary: mat-palette($mat-teal, 400);
$iamc-accent:  mat-palette($mat-deep-purple, A400);
$iamc-warn:    mat-palette($mat-red);

$iamc-theme: mat-light-theme($iamc-primary, $iamc-accent, $iamc-warn);
$iamc-theme-dark: mat-dark-theme($iamc-primary, $iamc-accent, $iamc-warn);


@include angular-material-theme($iamc-theme-dark);
