
.container {
  height: 100%;
  width: 100%;
}
.abstract-banner {
  background-image: url("https://cdn.pling.com/img/4/5/d/4/a575b837b14346437b4fa824ba16b0c05753.jpg");
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat;
}
