

// @media (min-width: 400px) {
//   h1 {
//     font-size: 3.85rem;
//     margin: .5em 0px .5em .1em;
//     line-height: 3.5rem;
//   }
// }
h1 {
  font-size: 3.85rem;
  margin: .1em 0px .5em .1em;
  line-height: 3.5rem;
}
h2 {
  font-size: 1.2rem;
  margin: 2em 0px 0px 2em;
}
.container {
  height: 100%;
  width: 100%;
}
.abstract-banner {
  background-image: url("https://cdn.pling.com/img/4/5/d/4/a575b837b14346437b4fa824ba16b0c05753.jpg");
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat;
}
.message-canvas {
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
}
.learn-more {
  margin: 0px 5rem 0px .5rem;
}
@media (max-width: 768px) {
  .i-am-c-title {
    display: inline-block;
  }
}
