
<div class="container abstract-banner" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20%" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutAlign="center">
    <div class="banner-message">
      <h1>I Am C</h1>
      <h2>Identifying ways tech can help the world</h2>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center">
    <a href="#devCard">
      <button mat-raised-button color="primary" class="learn-more">Learn More &darr;</button>
    </a>
  </div>
</div>



<!-- <div class="container abstract-banner" fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <app-medium-card></app-medium-card>
  </div>

</div> -->
